* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFECE3;
}

.container {
    /* background-color:; */
    width: 25rem;
    height: 3.5rem;
}

.nav-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    border-bottom: 2px solid #CDCBC8;
}

a {
    color: #739EC8;
    text-decoration: none;
}

.home a {
    font-size: 1.5rem;
    font-weight: 700;
}

.certificates-con {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

.certi-con {
    width: 25rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 27vh 25vh;
    grid-template-rows: 20vh 20vh 20vh;
}

.footer-box {
    background-color: #739EC8;
    color: #EFECE3;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 5rem;
    margin-top: 1.2rem;
}